body{
    background-color: black;
    text-align: center;
}
.img{
    height: 100%;
    width: 40%;
    background-color: lightpink;
    padding: 50px 40px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.but{
    color: rgb(199, 194, 194);
    background-color: rgb(53, 58, 56);
    border-radius: 80px;
    padding: 10px 60px;
}
.img1{
    height: 100%;
    width: 40%;
    background-color: rgba(203, 196, 100, 0.668) ;
    padding: 50px 40px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img2{
    height: 100%;
    width: 40%;
    background-color: lightgoldenrodyellow;
    padding: 50px 40px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img3{
    height: 100%;
    width: 40%;
    background-color: lightcyan;
    padding: 50px 40px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img4{
    height: 100%;
    width: 40%;
    background-color: lightblue;
    padding: 50px 40px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img5{
    height: 100%;
    width: 40%;
    background-color: lightgray;
    padding: 50px 40px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img6{
    height: 100%;
    width: 40%;
    background-color: lightpink;
    padding: 20px 40px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img7{
    height: 100%;
    width: 40%;
    background-color: rgba(218, 216, 76, 0.622);
    padding: 20px 40px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
h2{
    font-size: 40px;
    font-weight: bold;
}
.img8{
    height: 100%;
    width: 20%;
    background-color: lightcyan;
    padding: 20px 0px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img9{
    height: 100%;
    width: 20%;
    background-color: lightgray;
    padding: 20px 0px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img10{
    height: 100%;
    width: 20%;
    background-color: lightgoldenrodyellow;
    padding: 20px 0px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img11{
    height: 100%;
    width: 20%;
    background-color: lightslategray;
    padding: 20px 0px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img12{
    height: 100%;
    width: 20%;
    background-color: lightseagreen;
    padding: 20px 0px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img13{
    height: 100%;
    width: 20%;
    background-color: lightsalmon;
    padding: 20px 0px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img14{
    height: 100%;
    width: 20%;
    background-color: lightskyblue;
    padding: 20px 0px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img15{
    height: 100%;
    width: 20%;
    background-color: lightgrey;
    padding: 20px 0px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img16{
    height: 100%;
    width: 20%;
    background-color: lightpink;
    padding: 20px 0px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img17{
    height: 100%;
    width: 20%;
    background-color: lightcyan;
    padding: 20px 0px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img18{
    height: 100%;
    width: 20%;
    background-color: lightcoral;
    padding: 20px 0px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img19{
    height: 100%;
    width: 20%;
    background-color: lightgreen;
    padding: 20px 0px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img20{
    height: 100%;
    width: 20%;
    background-color: lightgoldenrodyellow;
    padding: 20px 0px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img21{
    height: 100%;
    width: 20%;
    background-color: lightsalmon;
    padding: 20px 0px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
.img22{
    height: 100%;
    width: 20%;
    background-color:lightslategray;
    padding: 20px 0px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}